$color-header-background: #2d2d2d;
$color-example-back: #E0E0E0;
$color-title: #61dafb;
$color-text-light: #d9d9d9;
$color-text-footer: #c1c1c1;
$color-footer: #222;
$color-button-background: #A53E31;
$color-button-background--hover: #CF4E3F;

$breakpoint-main: 540px;